:root {
  --background-dark-primary: #202225;
  --background-dark-secondary: #2f3136;
  --background-item: #36393f;
  --background-blue: #5865f2;
  --green-primary: #3ba55d;

  --elevation-low: 0 1px 0 hsla(240, calc(var(1, 1) * 11.1%), 1.8%, 0.2),
    0 1.5px 0 hsla(240, calc(var(1, 1) * 7.7%), 2.5%, 0.05),
    0 2px 0 hsla(240, calc(var(1, 1) * 11.1%), 1.8%, 0.05);
}
