@import "normalize.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

// button,
// input,
// [tabindex] {
//     outline: none;
//     border: none;
// }

a,
button,
div,
input,
label,
select,
span,
strong,
textarea {
  outline: none;
}

a[href] {
  text-decoration: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
