.wrapper {
  height: 24px;
  min-width: 52px;
  min-height: 24px;
  cursor: pointer;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  margin-right: 8px;
  &:hover {
    opacity: 0.8;
  }
}

.primary {
  background-color: var(--blurple);
}

.second {
  background-color: var(--background-icon);
}

.danger {
  background-color: var(--red);
}
