.wrapper {
  padding: 1px 0;
  height: 34px;
  display: flex;
  align-items: center;
}

.inner {
  height: 100%;
  padding: 0 8px;
  margin-left: 8px;
  border-radius: 4px;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background-color: var(--channel-list-hover);
    color: var(--text-channel-hover);
  }
}

.inner:hover .icons-add-channel-item {
  display: block;
}

.main-content {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: lowercase;
  overflow: hidden;
}

.icons-add-channel-item {
  margin-right: 4px;
  font-size: 1.2rem;
  display: none;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}
